[project]
	description = Userspace Flashcache
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuan (zhouyuan)
[access "refs/for/refs/*"]
	read = group user/Yuan (zhouyuan)
	push = group user/Yuan (zhouyuan)
	label-Code-Review = -2..+2 group user/Yuan (zhouyuan)
	label-Verified = -1..+1 group user/Yuan (zhouyuan)
	rebase = group user/Yuan (zhouyuan)
	removeReviewer = group user/Yuan (zhouyuan)
	submit = group user/Yuan (zhouyuan)
[access "refs/heads/*"]
	read = group user/Yuan (zhouyuan)
	create = group user/Yuan (zhouyuan)
	push = +force group user/Yuan (zhouyuan)
	pushMerge = group user/Yuan (zhouyuan)
[access "refs/tags/*"]
	push = +force group user/Yuan (zhouyuan)
	pushTag = group user/Yuan (zhouyuan)
	pushSignedTag = group user/Yuan (zhouyuan)
